<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
 * SPDX-License-Identifier: BSD-3-Clause-Clear
 */
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.codeaurora.bluetooth.newbttestapp"
    android:sharedUserId="android.uid.bluetooth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_STACK" />
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <uses-library android:name="javax.obex" />

        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme_NOACTION_BAR"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
